<?xml version="1.0" encoding="UTF-8"?>
<web-app
    version="4.0"
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:javaee="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xml="http://www.w3.org/XML/1998/namespace"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
  <display-name>Archetype Created Web Application</display-name>
  
  <!-- we can configure front controller(dispatcher servlet) in web.xml or java class also, here we do in web.xml file -->
  <!-- Configure dispatcher servlet class -->
  <servlet>
  	<servlet-name>mydispserv</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class> <!-- cmd+shift+t  then search for DispatcherServlet open that class and copy the fully qualified name -->
  </servlet>
  <servlet-mapping>
  	<servlet-name>mydispserv</servlet-name>
  	<url-pattern>/</url-pattern>
  </servlet-mapping>
  
</web-app>
